<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand">Blackjack</a>
          <ul class="nav">
            <li><a href="/new_game">New Game</a></li>
            <li class="divider-vertical"></li>
            <li><a>
              <% if session[:player_name] %>
                Welcome, <span class='player-name'><%=session[:player_name]%></span>
              <% end  %>
            </a></li>
          </ul>
        </div>
      </div>
      <div id="page-inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
