<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand">Blackjack</a>
          <ul class="nav">
            <li><a href="/new_game">New Game</a></li>
            <li class="divider-vertical"></li>
            <li><a>Welcome <%= session[:player_name] %></a></li>
          </ul>

        </div>
      </div>
      <%if @error %>
        <div class="alert alert-error alert-compare"><%=@error%></div>
      <% end %>
      <%if @success %>
        <div class="alert alert-success alert-compare"><%=@success%></div>
      <% end %>
      <%= yield %>
      <% if @replay %>
        <div class="row">
          <div class="span3">
            <a href="/bet" class="btn btn-primary btn-large btn-block">Play Again</a>
          </div>
          <div class="span3">
            <a href="/game_over" class="btn btn-large btn-block">Exit Game</a>
          </div>

          </div>
        </div>
      <% end %>

    </div>
  </body>
</html>
