<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand">Blackjack</a>
          <ul class="nav">
            <li><a href="/new_game">New Game</a></li>
            <li class="divider-vertical"></li>
            <li><a>Welcome <%= session[:player_name] %></a></li>
          </ul>

        </div>
      </div>
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%if @success %>
        <div class="alert alert-success"><%=@success%></div>
      <% end %>
        <%= yield %>

    </div>
  </body>
</html>
