<div class="hero-unit">
  <h1>Welcome to Blackjack</h1>

  <form action="/new_game" method="post" class="form-inline">
    <fieldset>
      <legend>Enter your name to start a new game</legend>
    <label for="player_name">Name:
      <input type="text" name="player_name" id="player_name" required />
    </label>
    <input type="submit" class="btn btn-primary" />
  </fieldset>
  </form>
</div>
