<h4>Set Player Name </h4>

<form action="/set_name" method="post">
  <label for="player_name">Name: </label>
  <input type="text" name="player_name" id="player_name" />
  <input type="submit" class="btn btn-primary" />
</form>
