.card-image,
.show-dealer-card {
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.alert-compare {
  padding-top: 13px;
  padding-bottom: 13px;
}
.show-dealer-card {
  display:block;
  background-image:url(/images/cards/cover.jpg);
  width: 158px;
  height: 235px;
  text-align: center;
}
.btn-show-card {
  margin: 100px 0;
}
